body{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --grey--blue: #3D5A80;
    --charcol: #293241;
    --white--blue: #E0FBFC;
    --error--red: #f08484;
}


.errorMessage{
    color: var(--error--red);
}

#nav-container{
    background-color: var(--charcol);
    height: auto;
    width: 100%;
}

#burger-menu img{
    width:10%;
    filter: invert(100%) sepia(33%) saturate(4642%) hue-rotate(175deg) brightness(105%) contrast(111%);
    margin: 1em;
    max-width: 100%;
}

.navbar{
    display: none;
}

.navbarShow{
    animation: Burg-slide-down 0.3s ease-in-out 1;
    display:block;
}

.list-item {
    display: flex;
}

.list-item span {
    margin: 5px 20px;
    color: var(--white--blue);
    font-size: 20px;
}

.list-item img{
    filter: invert(100%) sepia(33%) saturate(4642%) hue-rotate(175deg) brightness(105%) contrast(111%);
    width: 10%;
    padding-bottom: 2em;
}

.navbar ul{
    list-style-type: none;
    padding: 1em;
    margin: 0;
}

.flex{
    display: flex;
}

#modal{
    display: none;
}

#modal,input{
    background-color: var(--grey--blue);
}

.no-task-input,.no-date-input{
    color: var(--error--red);
    margin: 1em;
    display: none;
}

input{
    border: transparent;
    height: 3em;
    margin: 1em;
    color: var(--white--blue);
}

input::placeholder, input[type="date"]{
    color:var(--white--blue);
}

#date{
    width: 10em;
}

#date,#task{
    border-bottom: 1px solid var(--white--blue);
}

input:placeholder,input[type="text"]{
    margin-left:10px !important;
    color: var(--white--blue) !important;
}

input[type="submit"]{
    background-color: var(--charcol);
    width: 40%;
    margin: 1em auto;
    color: var(--white--blue);
    text-align: center;
}



.taskList{
    max-width: 100%;
}

.task-flex{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: var(--grey--blue);
}

.task-flex img{
    width: 10%;
}

#list-item-task{
    padding-right:8em;
}


/*Burger Menu Animation*/

@keyframes Burg-slide-down {
    0%{transform: translateY(-30%);}

    100%{transform: translate(0);}
}