body{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --grey--blue: #3D5A80;
    --charcol: #293241;
    --white--blue: #E0FBFC;
    --error--red: #f08484;
}


.errorMessage{
    color: var(--error--red);
}

#nav-container{
    background-color: var(--charcol);
    height: auto;
    max-width: 100%;
}

#burger-menu img{
    width:10%;
    filter: invert(100%) sepia(33%) saturate(4642%) hue-rotate(175deg) brightness(105%) contrast(111%);
    margin: 1em;
    max-width: 100%;
}

.navbar{
    display: none;
}

.navbarShow{
    animation: Burg-slide-down 0.3s ease-in-out 1;
    display:block;
}

.list-item {
    display: flex;
    color: var(--white--blue);
    font-size: 15px;
    align-items: center;
}

.list-item img{
    width:10%;
    filter: invert(100%) sepia(33%) saturate(4642%) hue-rotate(175deg) brightness(105%) contrast(111%);
    margin: 1em;
}

.navbar ul{
    list-style-type: none;
    padding: 1em;
    margin: 0;
}

.flex,.edit-flex{
    display: flex;
}



#modal,#edit-modal{
    display: none;
}



#modal,#edit-modal,input{
    background-color: var(--grey--blue);
}

.no-task-input,.no-date-input,.edit-no-task-input,.edit-no-date-input{
    color: var(--error--red);
    margin: 1em;
    display: none;
}

input{
    border: transparent;
    height: 3em;
    margin: 1em;
    color: var(--white--blue);
}

input::placeholder, input[type="date"]{
    color:var(--white--blue);
}

#date,#edit-duedate{
    width: 10em;
}

#date,#task,#edit-duedat,#edit-task{
    border-bottom: 1px solid var(--white--blue);
}

input:placeholder,input[type="text"]{
    margin-left:10px !important;
    color: var(--white--blue) !important;
}

input[type="submit"]{
    background-color: var(--charcol);
    width: 40%;
    margin: 1em auto;
    color: var(--white--blue);
    text-align: center;
}

.taskList{
    display: grid;
    grid-template-columns: auto auto;
    max-width: 100%;
    margin: 0;
}

.task-buttons{
    display: grid;
    gap: 40px; 
    align-items: center;
    justify-content: center;
    margin: 2em auto;
    width: 100%;
}

.task-buttons img{
    margin: 5px;
    filter: invert(100%) sepia(33%) saturate(4642%) hue-rotate(175deg) brightness(105%) contrast(111%);
}

.task-flex{
    
    display: flex;
    margin: 1em auto;
    background-color: var(--grey--blue);
    width: 70%;
    height: 30vh;
    border-radius: 10px;
    border-top-left-radius: 0px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-right: 1em;
}

.task-flex img{
    width: 20%;
}

.task-to-do{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 1em;
}

.list{
    color: var(--white--blue);
}

#list-item-date{
    position: absolute;
    transform: translateY(-425%);
    left: -20%;
}

#list-item-task{
    position: absolute;
    right: 60%;
    transform: translateX(0%);
}

/*Burger Menu Animation*/

@keyframes Burg-slide-down {
    0%{transform: translateY(-30%);}

    100%{transform: translate(0);}
}